body{background-color: whitesmoke;}

a{ color: antiquewhite;}
a:hover{ color: wheat;
text-decoration: none;}

footer a{color: azure;}
footer a:hover{color: antiquewhite;}

.homepage{background: url(../ResumeAssignment/placeholder\ images/thumbnail-3.jpg) no-repeat;
background-size: cover;}
.homepage .wrap{background: white /o.7;}

footer{ background: burlywood;
color: azure;}